<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Bring the Data Science Revolution to the Silicon Shire!</h2>
        <p class="lead">Many tech companies deal with Big Data.  For this reason, data science has come to play an essential part in many business model, with many companies hiring dedicated data scientists.     Our objective is to offer low-stress consulting to local businesses that think they may be able to benefit from data science, but aren't ready to hire to a full-time data scientist or retain an expensive Silicon Valley firm.   <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a>.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
